<h1>Pipeline Visualization</h1>

  <form>
    <label for="year">Year</label>
    <select name="year">
      <option value="2001">2001</option>
      <option value="2002">2002</option>
      <option value="2003">2003</option>
      <option value="2004">2004</option>
      <option value="2005">2005</option>
      <option value="2006">2006</option>
      <option value="2007">2007</option>
      <option value="2008">2008</option>
      <option value="2009">2009</option>
      <option value="2010">2010</option>
      <option value="2011">2011</option>
      <option value="2012">2012</option>
      <option value="2013">2013</option>
      <option value="2014">2014</option>
      <option value="2015">2015</option>
    </select>

    <label for="cid">CID</label>
    <select name="cid">
      <option value="01">Agriculture, Agriculture Operations, and Related Sciences</option>
      <option value="03">Natural Resources and Conservation</option>
      <option value="04">Architecture and Related Services</option>
      <option value="05">Area, Ethnic, Cultural, Gender, and Group studies</option>
      <option value="09">Communication, Journalism, and Related Programs</option>
      <option value="10">Communications Technologies/Technicians and Support Services</option>
      <option value="11">Computer and Information Sciences and Support Services</option>
      <option value="12">Personal and Culinary Services</option>
      <option value="13">Education</option>
      <option value="14">Engineering</option>
      <option value="15">Engineering Technologies and Engineering-Related Fields</option>
      <option value="16">Foreign Languages, Literatures, and Linguistics</option>
      <option value="19">Family and Consumer Sciences/Human Sciences</option>
      <option value="22">Legal Professions and Studies</option>
      <option value="23">English Language and Literature/Letters</option>
      <option value="24">Liberal Arts and Sciences, General Studies and Humanities</option>
      <option value="25">Library Science</option>
      <option value="26">Biological and Biomedical Sciences</option>
      <option value="27">Mathematics and Statistics</option>
      <option value="28">Military Science, Leadership and Operational Art</option>
      <option value="29">Military Technologies and Applied Sciences</option>
      <option value="30">Multi/Interdisciplinary Studies</option>
      <option value="31">Parks, Recreation, Leisure, and Fitness Studies</option>
      <option value="32">Basic Skills and Developmental/Remedial Education</option>
      <option value="33">Citizenship Activities</option>
      <option value="34">Health-Related Knowledge and Skills</option>
      <option value="35">Interpersonal and Social Skills</option>
      <option value="36">Leisure and Recreational Activities</option>
      <option value="37">Personal Awareness and Self-Improvement</option>
      <option value="38">Philosophy and Religious Studies</option>
      <option value="39">Theology and Religious Vocations</option>
      <option value="40">Physical Sciences</option>
      <option value="41">Science Technologies/Technicians</option>
      <option value="42">Psychology</option>
      <option value="43">Homeland Security, Law Enforcement, Firefighting and Related Protective Services</option>
      <option value="44">Public Administration and Social Service Professions</option>
      <option value="45">Social Sciences</option>
      <option value="46">Construction Trades</option>
      <option value="47">Mechanic and Repair Technologies/Technicians</option>
      <option value="48">Precision Production</option>
      <option value="49">Transportation and Materials Moving</option>
      <option value="50">Health Professions and Related Programs</option>
      <option value="51">Visual and Performing Arts</option>
      <option value="52">Business, Management, Marketing, and Related Support Services</option>
      <option value="53">High School/Secondary Diplomas and Certificates</option>
      <option value="54">History</option>
      <option value="60">Residency Programs</option>
    </select>



     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.min.js"></script>
     <script src="app.js"></script>
     <script src="routes/routes.js"></script>
     <script src="js/searchcontroller.js"></script>
     <script src="js/searchreturncontroller.js"></script>
     <script src="js/factories.js"></script>

    <input class="searchButton" type="submit" ng-click="addSearch(search)" name="text" value="Search">
</form>

<!-- <main class="legisList"  ng-repeat="legislator in legislators">
  <a href="" ng-click="addCand(legislator['@attributes'].cid, legislator['@attributes'].lastname, legislator['@attributes'].firstlast, legislator['@attributes'].party, legislator['@attributes'].office)">
    {{legislator["@attributes"].firstlast}}- {{legislator["@attributes"].party}}</a>
</main> -->
